{
  "extends": "google",
  "env": {
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "comma-dangle": "off",
    "arrow-parens": "off",
    "max-len": ["error", {"code": 100}]
  },
  "overrides": [{
    "files": ["app/client/**/*.js"],
    "parserOptions": {
      "sourceType": "module"
    }
  }]
}
